body {
  font-family: 'Montserrat',Helvetica,Arial,sans-serif !important;
}

.hidden {
 display: none;
}

#mainNav {
 font-size: auto;
 background-color: black !important;
 padding-top: 4px !important;
 padding-bottom: 6px !important;
}

a:focus, a:hover, a#logo:focus, a#logo:hover {
 color: #384047 !important;
}

#mainNav .navbar-toggler {
 background-color: black;
}

#logo {
  color: white !important;
  font-size: 1.5rem !important;
}

button#menuButton:focus, button#menuButton:hover, button.close-modal-button:focus, button.close-modal-button:hover, button#sendMessageButton:focus, button#sendMessageButton:hover {
 color: #384047 !important;
}

a.nav-link:focus {
 color: gray !important;
}

:focus {
   outline: auto 5px -webkit-focus-ring-color !important;
}

.h1, h1 {
 font-size: 5rem !important;
}

section {
 padding-top: 125px;
 padding-bottom: 80px;
}

header.masthead {
 background-color: black !important;
 padding-top: 12rem;
 padding-bottom: 10rem;
 height: 784px !important;
}

header.masthead .link-social {
 font-size: 2rem;
 color: white;
}

header.masthead .link-social:active,header.masthead .link-social:focus,header.masthead .link-social:hover {
 text-decoration: none;
 color: #384047;
}
#portfolio {
  background-color: #b7b7b7 !important;
}

#portfolio .portfolio-item a.portfolio-link:focus .portfolio-hover {
 opacity: 1 !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
 -webkit-transition: all ease 0.2s;
 -moz-transition: all ease 0.2s;
 transition: all ease 0.2s;
}

.portfolio-item {
 padding: 1px; !important;
}

.portfolio-item, .portfolio-modal-image {
 border-style: none !important;
 border-width: 0.1px !important;
 border-color: #eeeeee !important;
}

#portfolio .portfolio-item .portfolio-link {
 max-width: 480px;
 margin-left: 2px;
 margin-right: 2px;
}

#portfolio .portfolio-item {
   margin: 0 0 0px !important;
}

/* ========== TO DO!!! ========== */
/* remove focus from portfolio thumnail when clicked */

section#contact {
 background-color: white;
}

section#contact .section-heading {
 color: black !important;
}

button#sendMessageButton {
 background-color: #212529;
}

button#sendMessageButton:focus {
 background-color: #7f8990;
}

button#sendMessageButton:hover {
   border: 0px;
}

@media (min-width: 992px) {
 header.masthead .link-social {
   font-size: 3rem;
 }
}

@media (max-width: 991.98px) {
 a.nav-link.js-scroll-trigger {
   font-size: 3rem !important;
 }
}

@media (min-width: 767px)
#portfolio .portfolio-item {
   margin: 0 0 0px !important;
}
